<ion-header>
  <ion-toolbar>
    <ion-title size="large">Buscar película</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar
    placeholder="Buscar"
    [debounce]="700"
    [value]="textSearch"
    (ionChange)="searchMovie($event)"
    animated
  ></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-label>Sugerencias</ion-label>
    </ion-list-header>

    <ion-item
      *ngFor="let suggestion of suggestions"
      (click)="textSearch = suggestion"
    >
      <ion-label color="primary">{{ suggestion }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
