<ion-header>
  <ion-toolbar>
    <ion-title size="large">Buscar película</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar
    placeholder="Buscar"
    [debounce]="500"
    [value]="textSearch"
    (ionChange)="searchMovie($event)"
    animated
  ></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="movies.length === 0">
    <ion-list-header>
      <ion-label>Sugerencias</ion-label>
    </ion-list-header>

    <ion-item
      *ngFor="let suggestion of suggestions"
      (click)="textSearch = suggestion"
    >
      <ion-label color="primary">{{ suggestion }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="loading" fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let movie of movies" size="6">
        <ion-card (click)="detailMovie(movie.id)">
          <img [src]="movie.poster_path | image" [alt]="movie.original_title" />
          <ion-card-header>
            <ion-card-subtitle>{{ movie.release_date }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <h2>{{ movie.title }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
