<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Películas recientes</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [movies]="recentMovies"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>En cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [movies]="recentMovies"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pairs
    [movies]="popularMovies"
    (loadingMore)="loadingMore()"
  ></app-slideshow-pairs>
</ion-content>
