<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Películas favoritas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let favoriteGenre of favoritesGenres">
    <ion-grid *ngIf="favoriteGenre.movie.length !== 0" fixed>
      <ion-row>
        <ion-col>
          <h4>{{ favoriteGenre.genre }}</h4>
        </ion-col>
      </ion-row>

      <app-slideshow-poster
        [movies]="favoriteGenre.movie"
      ></app-slideshow-poster>
    </ion-grid>
  </div>
</ion-content>
